/********************************************************************** */
/*  This animated line will be used in the dashboard section, that's why i didn't remove it ;)))) */
/********************************************************************** */
.line {
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 1s ease-out;
  }
  
  .animate-line {
    width: 200px;
    transition-delay: 0.5s;
  }
  
  .animate-line-long {
    width: 690px;
    transition-delay: 0.5s;
  }
  
  .animate-line-left {
    width: 400px; 
    transition-delay: 0.5s;
  }